<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie_booking_backend.mapper.MovieSessionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movie_booking_backend.model.domain.MovieSessions">
        <id column="id" property="id" />
        <result column="movie_id" property="movieId" />
        <result column="hall_id" property="hallId" />
        <result column="session_time" property="sessionTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="price_adjustment" property="priceAdjustment" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="deleted" />
    </resultMap>


</mapper>
