<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie_booking_backend.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movie_booking_backend.model.domain.Orders">
        <id column="id" property="id" />
        <result column="order_number" property="orderNumber" />
        <result column="user_id" property="userId" />
        <result column="session_id" property="sessionId" />
        <result column="seat_numbers" property="seatNumbers" />
        <result column="ticket_count" property="ticketCount" />
        <result column="total_amount" property="totalAmount" />
        <result column="status" property="status" />
        <result column="payment_method" property="paymentMethod" />
        <result column="payment_time" property="paymentTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_rated" property="isRated" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

</mapper>
