<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie_booking_backend.mapper.PaymentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movie_booking_backend.model.domain.Payments">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="payment_method" property="paymentMethod" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="transaction_id" property="transactionId" />
        <result column="payment_status" property="paymentStatus" />
        <result column="payment_time" property="paymentTime" />
        <result column="refund_amount" property="refundAmount" />
        <result column="refund_time" property="refundTime" />
        <result column="refund_reason" property="refundReason" />
        <result column="gateway_response" property="gatewayResponse" />
        <result column="gateway_code" property="gatewayCode" />
        <result column="gateway_message" property="gatewayMessage" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

</mapper>
