<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie_booking_backend.mapper.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movie_booking_backend.model.domain.Roles">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="display_name" property="displayName" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <select id="findPermissionsByRoleId" resultType="com.example.movie_booking_backend.model.domain.Permissions">
        SELECT p.* FROM permissions p
        JOIN role_permissions rp ON p.id = rp.permission_id
        WHERE rp.role_id = #{roleId} AND p.is_deleted = 0 AND rp.is_deleted = 0
    </select>

    <delete id="deletePermissionsByRoleId">
        UPDATE role_permissions
        SET is_deleted = 1,
            updated_at = NOW()
        WHERE role_id = #{roleId}
    </delete>

    <insert id="insertRolePermissions">
        INSERT INTO role_permissions (role_id, permission_id)
        VALUES
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>

</mapper>
